# Week 8 Independent Lab: Advanced Data Manipulation  
**Author:** Thomas J. Greenberg  
**Course:** BGEN632 – Graduate Introduction to Python  
**Term:** Spring 2025  
**Date:** April 18, 2025

---

## Introduction

In this lab, we use `pandas` to practice advanced data manipulation skills, including filtering, querying, and renaming columns.  

**Tools & Methods** 

We will use `pandas` functions—such as `.filter()`, `.query()`, `.assign()`, and `.rename()`—along with **method chaining**, which allows multiple operations to be written in a clean, pipeline. Each task is broken
into manageable steps.

**Dataset** 

The dataset used in this lab includes information from four open-source GitHub projects.  
These projects were selected from a larger research study of over 22,000 repositories analyzed
by Vasilescu et al. (2015).  
Each row includes project- and contributor-level information captured over discrete time periods.

In [1]:
import pandas as pd

# Load dataset using local path
path = "C:/MySystem/School/Python/GitHubStuff/week8labs/data/gh_turnover_four_projects.csv"
df = pd.read_csv(path)

# View structure and column data types of the dataset
df.info()

# Create a working copy
df_copy = df.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   project_id     473 non-null    int64
 1   domain         473 non-null    object
 2   language       473 non-null    object
 3   windows        473 non-null    int64
 4   window_idx     473 non-null    int64
 5   num_team       473 non-null    int64
 6   num_commits    473 non-null    int64
 7   blau_gender    473 non-null    float64
 8   Gini_gh_ten    473 non-null    float64
 9   user_id        473 non-null    int64
 10  Core1          473 non-null    int64
 11  commits        473 non-null    int64
 12  propCommits    473 non-null    float64
 13  gender         449 non-null    object
 14  github_tenure  473 non-null    int64
 15  leavesNextQ    473 non-null    int64
dtypes: float64(3), int64(10), object(3)
memory usage: 59.3+ KB

---

### Task 2.1 – Rename Columns  
Apply the specified column renaming scheme using `rename()`. Then confirm the new names.

In [2]:
df_renamed = df_copy.rename(columns={
    'domain': 'project_domain',
    'language': 'project_language',
    'windows': 'project_age',
    'window_idx': 'quarter',
    'num_team': 'team_size',
    'num_commits': 'project_commits',
    'blau_gender': 'gender_blau',
    'Gini_gh_ten': 'gh_tenure_gini',
    'Core1': 'core_dev',
    'commits': 'user_commits',
    'propCommits': 'commit_proportion',
    'github_tenure': 'gh_tenure',
    'leavesNextQ': 'leaves_next_q'
})

df_renamed.columns

Index(['project_id', 'project_domain', 'project_language', 'project_age',
       'quarter', 'team_size', 'project_commits', 'gender_blau',
       'gh_tenure_gini', 'user_id', 'core_dev', 'user_commits',
       'commit_proportion', 'gender', 'gh_tenure', 'leaves_next_q'],
      dtype='object')

### Task 2.2 – Mean of `user_commits`  
Calculate the mean value for the `user_commits` column.

In [3]:
df_renamed['user_commits'].mean()

np.float64(339.36575052854124)

### Task 2.3 – Median of `user_commits`  
Calculate the median value for the `user_commits` column.

In [4]:
df_renamed['user_commits'].median()

np.float64(18.0)

### Task 2.4 – Select Columns with Regex `(^p)` or `(g)`  
Use `filter()` to select columns that start with **p** or contain **g**.  
Save the result as a new DataFrame called `turnover_new` and preview its columns.

In [5]:
turnover_new = df_renamed.filter(regex='(^p)|(g)')
turnover_new.head()

,project_id,project_domain,project_language,project_age,project_commits,gender_blau,gh_tenure_gini,gender,gh_tenure
0,1101,OTHER,Python,23,22688,0.0,0.422259,male,426
1,1101,OTHER,Python,23,22688,0.0,0.422259,male,46
2,1101,OTHER,Python,23,22688,0.0,0.422259,male,941
3,1101,OTHER,Python,23,22688,0.0,0.422259,male,1870
4,1101,OTHER,Python,23,22688,0.0,0.422259,male,781

### Task 2.5 – Filter `turnover_new` for `project_commits` > 9000  
Use `query()` on the `turnover_new` DataFrame to filter rows where  
`project_commits` is greater than 9000. Preview the result.

In [6]:
turnover_new.query("project_commits > 9000").head()

,project_id,project_domain,project_language,project_age,project_commits,gender_blau,gh_tenure_gini,gender,gh_tenure
0,1101,OTHER,Python,23,22688,0.0,0.422259,male,426
1,1101,OTHER,Python,23,22688,0.0,0.422259,male,46
2,1101,OTHER,Python,23,22688,0.0,0.422259,male,941
3,1101,OTHER,Python,23,22688,0.0,0.422259,male,1870
4,1101,OTHER,Python,23,22688,0.0,0.422259,male,781

### Task 2.6 – Combine Tasks 2.4 and 2.5 Using Piping  
Chain your column filtering and row filtering steps into one.  
Save the result as a new DataFrame named `turnover_newer`.

In [7]:
turnover_newer = (
    df_renamed
      .filter(regex='(^p)|(g)')
      .query("project_commits > 9000")
)
turnover_newer.head()

,project_id,project_domain,project_language,project_age,project_commits,gender_blau,gh_tenure_gini,gender,gh_tenure
0,1101,OTHER,Python,23,22688,0.0,0.422259,male,426
1,1101,OTHER,Python,23,22688,0.0,0.422259,male,46
2,1101,OTHER,Python,23,22688,0.0,0.422259,male,941
3,1101,OTHER,Python,23,22688,0.0,0.422259,male,1870
4,1101,OTHER,Python,23,22688,0.0,0.422259,male,781

### Task 2.7 – Select Columns with `e$` or `s` and `gh_tenure >= 1991`

Use pandas piping to:

- **Filter columns** that end in the letter `e` (`e$`) or contain `s`
- **Select rows** where `gh_tenure >= 1991`

Save the result and preview the first five rows.

In [8]:
tenure_filtered_df = (
    df_renamed
      .filter(regex='(e$)|(s)')
      .query("gh_tenure >= 1991")
)

tenure_filtered_df.head()

,project_language,project_age,team_size,project_commits,user_id,user_commits,gh_tenure,leaves_next_q
339,Java,16,2,7,33272,6,2006,0
457,Python,23,20,3070,88459,1,2054,0

### Task 2.8 – Mean and Median of `user_commits` from Previous Query (Filtered Set)  

Use the same piped query again, but calculate:  

- `mean()` of `user_commits`

  and,
  
- `median()` of `user_commits`

In [9]:
tenure_filtered_df['user_commits'].mean()

np.float64(3.5)

In [10]:
tenure_filtered_df['user_commits'].median()

np.float64(3.5)

### Final Thoughts

The teams we filtered — those with higher GitHub tenure and specific column characteristics — revealed an interesting trend:

- The **average (`mean`) number of user commits** was **higher**
- The **middle value (`median`) of user commits** was **lower** than in the overall dataset

This indicates that while a few contributors made a large number of commits, the majority of users contributed far less. Such imbalances are common in collaborative projects, where a small group of highly active participants often account for most of the activity; a pattern similar to the Pareto Principle, where a small percentage of contributors (often ~20%) are responsible for a large portion of the output (Pareto, 1896).

## References

- Week 8 Independent Lab Instructions, BGEN632 (Spring 2025), Instructor: Prof. Olivia Newton  
- pandas documentation: https://pandas.pydata.org/docs/  
- GitHub turnover dataset (course-provided): `gh_turnover_four_projects.csv`
- Pareto, V. (1896). *Cours d’économie politique*. Lausanne: F. Rouge.
  Background and usage context: https://en.wikipedia.org/wiki/Pareto_principle  
- **Q&A derived from in-session troubleshooting** — visual reference captured from GPT guidance, addressing `.rename()`, regex filtering with `(^p)|(g)`, and `.query()` chaining with `.mean()`/`.median()`.
- 
  
  ![Reference Q&A](assets/RefGPT2.png)